$prefix: "acadex-" !default;

$primary: #1C67D6 !default;
$primary-light:#a3e1dd !default;
$primary-subtle:#E4EDFA!default;
$secondary-subtle:#D7F4E9!default;
$secondary: #2E946C !default;
$secondary-dark: #7C7C7C !default;
$secondary-light: #D7F4E8 !default;
$success: #38a169 !default;
$info:  rgb(14, 211, 233)  !default;
$warning: #FFB800 !default;
$warning-subtle: #FFB800 !default;
$danger: #D61C2F !default;
$danger-subtle: #FAE4E6 !default;
$light: #ffffff !default;
$dark: #07090C !default;
$white:#FCFCFD!default;
$gray-100: #6A6B6D !default;
$gray-200: #A6A6A8 !default;
$gray-300: #EFEFF0 !default;
$gray-light: #F8F8F8 !default;
$gray-400:#EEEEEE!default;